body {
    background-color: #e4e7eb;
    color: #2f3338;
    font-family:  "St.Sign"; 
    margin: 0;
    padding: 0;
}
.info {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    font-size: 20px;
}
@font-face {
    font-family:  "St.Sign"; 
    src: url("St.Sign.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
main { 
    display: flex;
    justify-content: center;
  }
.navigation {
    align-items: center;
    padding: 0 165px;
    background-color:  #2f3338;
  }
.navigation-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
.navigation-link {
    display: block;
    text-decoration: none;
    color:  #e4e7eb;
    margin: 30px;
    font-size: 20px;
}